/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /* 48px*/
    /*========== Colors ==========*/
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {}


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

#mynav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#homenav {
    color: #47B1F0;
}

.navbar-brand {
    margin-left: 50px;
    font-weight: bold;
    font-size: 35px;
    color: #47B1F0;
}

#navbarToggleExternalContent {
    margin-right: 50px;
    justify-content: end;
}

#navbarToggleExternalContent a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 25px;
}

#navbarToggleExternalContent a:hover {
    color: #47B1F0;
    font-weight: bolder;
}

.d-flex {
    margin-right: 50px;
}

main {}

.home {
    display: flex;
    width: 100%;
    padding-top: 5%;
}

.homeimg {
    width: 100%;
}

.homeimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.homelabel {
    padding: 150px 50px 100px 50px;
}

.homelabel h1 {
    font-size: 45px;
    font-weight: bold;
    padding: 25px 0 25px 0;
}

.homelabel p {
    font-size: 15px;
    padding: 0px 0 38px 0;
}

.bttn {
    display: flex;
    padding: 20px 27px 20px 27px;
}

.contactbttn {
    padding: 20px 27px 20px 27px;
    border: solid 1px #47B1F0;
    background-color: #47B1F0;
    border-radius: 10px;
    color: white;
}

.contactbttn:hover {
    background-color: white;
    color: #47B1F0;
    text-decoration: none;
}

.portfoliobttn {
    padding-left: 30px;
    padding: 20px 20px 20px 20px;
    border: solid 1px #47B1F0;
    border-radius: 10px;
    text-decoration: none;
}

.portfoliobttn:hover {
    background-color: #47B1F0;
    color: white;
    text-decoration: none;
}

.about {
    display: flex;
    padding-top: 10%;
}

.aboutlabel {
    width: 50%;
    display: grid;
    padding: 0px 50px 0px 130px;
}

.aboutlabeltext {
    width: 100%;
    display: grid;
}

.aboutlabelimg {
    width: 100%;
}

.aboutlabelimg img {
    width: 100%;
}

.aboutlabel h1 {
    font-size: 45px;
    font-weight: bold;
    padding: 25px 0 25px 0;
}

.aboutlabel p {
    font-size: 15px;
    padding: 0px 0 38px 0;
}

.aboutcv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
}

.aboutcv iframe {
    width: 100%;
    height: 50%;
    background-color: #47B1F0;
}

embed {
    background-color: #47B1F0;
}

@media only screen and (max-width: 1000px) {
    .navbar-brand {
        margin-left: 0px;
    }
    .home {
        display: grid;
        width: 100%;
    }
    .homeimg {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
    }
    .homeimg img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
    .homelabel {
        padding: 50px 50px 50px 50px;
    }
    .about {
        display: grid;
    }
    .aboutcv {
        width: 100%;
    }
    .aboutlabel {
        width: 100%;
        padding: 50px 50px 50px 50px;
    }
    .bttn {
        display: grid;
    }
    .portfoliobttn,
    .contactbttn {
        text-align: center;
    }
    .portfoliobttn {
        margin-top: 5%;
    }
}